CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Makefile
cmake_install.cmake
install_manifest.txt
Testing
mapfile-vers.gnu

sexpr.lex.c
sexpr.tab.c
sexpr.tab.h

libjeffpc.so
test_array
test_atomic-single-thread
test_bswap
test_hexdump
test_padding
test_sexpr_parser
test_sexpr_eval
